<%#= react_component('Index', {name: 'Test'}) %>
<ol>
  <% @contexts.each do |c| %>
    <li><%= link_to c.name, "#{@path && "/#{@path}"}/#{c.name}" %></li>
  <% end %>
</ol>
<table>
  <tr><th>Index</th><th>Title</th><th>Author</th></tr>
  <% @books.each.with_index(1) do |b, i| %><tr>
    <td><%= i %></td>
    <td><%= link_to(b.title, "//ipfs.io/ipfs/#{b.cover&.ipfs_id}") %></td>
    <td><%= b.author %></td>
  </tr><% end %>
</table>